@charset "UTF-8";

:root {
    --primary-blue: cornflowerblue;
    --secondary-blue: rgb(13, 65, 163);
    --primary-purple: rgb(121, 55, 110);
    --secondary-purple: rgb(136, 5, 108);
    box-sizing: border-box;
}

body {
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: thistle;
}

header {
    padding: 10px 0;
    text-align: center;
    background-color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper.--inner {
    width: 80%;
    margin: 0px auto;
    min-height: calc(100vh - 60px);
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: 900;
}


aside {
    /* padding: 0px 10px; */
    width: 30%;
    border: 1px solid rgb(208, 233, 16);
}


#view-box{
    border: 1px solid green;
    min-height: 80vh;
    flex-grow: 1;
}

/*BUTTON AND INPUT [FORM]
---------------------------------------*/
.input {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
    transform: none;
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: cornflowerblue;
}
.input-label{
    font-weight: bold;
}

button[type="submit"] {
    cursor: pointer;
    font-weight: 900;
    background:teal;
    color: rgb(245, 245, 245);
    margin-top: 1rem;
}

/*TRACK FORM PROGRESS
--------------------------------------------*/
.progress-wrap {
    width: 90%;
    margin: 10px auto 0;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: rgb(121, 55, 110);
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #e0eaf0;
    border-radius: 10px;
}

progress::-moz-progress-value {
    background-color: rgb(121, 55, 110);
    border-radius: 10px;
}

.progress-msg {
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

/*MAIN APP CONTAINER
------------------------------------------*/
main {
    background: rgb(245, 245, 245);
    color: var(--secondary-blue);
    padding: 20px;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: var(--primary-blue);
}

.itemList {
    margin: 0;
    padding: 0;
}

.itemList li {
    list-style: none;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-top: -1px;
    padding: 0;
    padding: 15px 0;
    position: relative;
    width: 100%;
    text-align: left;
    display: block;
    font-size: 20px;
}

.itemList li:hover {
    background: rgb(230, 230, 230);
}

.itemList li:hover .action-btn {
    color: rgb(136, 5, 108);
}

.action-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 10px;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

.date {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-left: 30px;
    color: rgb(136, 5, 108);
}